/*vars*/
$container-width: 940px;
$footer-height: 194px;

/*colors*/
$grey: #242424;
$footer-bg: #222222;
$brown: #663d15;


/*layout*/
@import "_adjust/fonts.scss";
@import "../bower/normalize.css/normalize.css";
@import "_adjust/adjustment.scss";
@import "_adjust/mixins.scss";


//////header

.header{

  background: #000;

  .container{
    font-size: 0;

    > *{
      font-size: 14px;
    }
  }
}

.nav{
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

.nav__item{
  display: inline-block;
  vertical-align: middle;
}

.nav__link{
  display: inline-block;
  padding: 26px 18px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color .3s;

  &:hover{
    background-color: $grey;
  }
}

.auth{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}

.auth__link-text{
  display: inline-block;
  vertical-align: middle;
}

.auth__link{

  &:before{
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 16px;
    margin-right: 5px;
    background: url("../images/icons/enter.png") center center no-repeat;
  }

  &:hover{
    &:before{
      background: url("../images/icons/enter_a.png") center center no-repeat;
    }
  }
}


//////content

.content{
  background: $grey url("../images/bg.jpg") center top no-repeat;
  background-size: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
}

.logo{
  margin: 0 auto 18px;
  width: 368px;
}

.advantages__list{
  font-size: 0;
  margin-bottom: 65px;

    > *{
      font-size: 16px;
    }
  }

.advantages__item{
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding: 0 15px;
}

.advantages__title{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text{
  text-align: center;

  p{
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
  }
}



.content-block{
  @extend %clearfix;
  background: #fff;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.contect-block__left{
  display: block;
  width: 50%;
  float: left;
  padding-right: 30px;
}

.contect-block__right{
  display: block;
  width: 50%;
  float: right;
  padding-left: 90px;
}

.content-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.news__list{
  margin-bottom: 30px;
}

.news__item{
  margin-bottom: 24px;
}

.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  width: 140px;
  padding: 12px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s;

  &:hover{
    background-color: $brown;
  }
}

.gallery__image{
  text-align: center;
  margin-bottom: 45px;
}

.gallery__pic{
  width: 285px;
}

.gallery__btn-prev{
  float: left;
}

.gallery__btn-next{
  float: right;
}

.contacts__btn-way{
  margin-right: 20px;
}

.appointment__form input[type="text"]{
  text-transform: uppercase;
}

.news__text{
  margin-bottom: 4px;
}

.contacts__text, .contacts__open, .appointment__text{
  margin-bottom: 26px;
}

.news__text, .contacts__text, .contacts__open, .appointment__text, .footer-contacts{

  p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
    text-transform: uppercase;
  }
}

.appointment__input-list{
  margin-right: -17px;
}

.appointment__form input[type="text"]{
  border: 2px solid #000;
  width: 140px;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  margin-right: 17px;
  outline: none;

  &:active, &:focus{
    border: 2px solid $brown;
  }

  &::-webkit-input-placeholder{
    color: #000;
    opacity: 1;
  }

  &::-moz-placeholder{
    color: #000;
    opacity: 1;
  }
}


.btn-submit{
  width: 100%;
}



//////footer

.footer{
  background: $footer-bg;
  color: #fff;
  text-transform: uppercase;
  padding-top: 60px;

  .container{
    font-size: 0;

      > *{
        font-size: 14px;
      }
  }
}


.footer-contacts{
  display: block;
  float: left;
  width: 40%;
}

.socials{
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}

.copyright{
  display: block;
  float: right;
  width: 15%;
  text-align: center;
}

.footer-text, .copyright__text{
  margin-bottom: 18px;
}


.address__link{
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 4px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;

  &:last-child{
    margin-right: 0;
  }
}

.socials__link{
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover{
    background-color: #fff;
  }

}

.socials__link_vk{
  background-image: url("../images/icons/vk.png");

  &:hover{
    background-image: url("../images/icons/vk_a.png");
  }
}

.socials__link_fb{
  background-image: url("../images/icons/fb.png");

  &:hover{
    background-image: url("../images/icons/fb_a.png");
  }
}

.socials__link_ig{
  background-image: url("../images/icons/ig.png");

  &:hover{
    background-image: url("../images/icons/ig_a.png");
  }
}

.copyright__btn{

  &:hover{
    background-color: #fff;
    color: #000;
  }
}