/*vars*/
$container-width: 940px;
$footer-height: 194px;

/*colors*/
$grey: #242424;
$footer-bg: #222222;
$brown: #663d15;
$light-grey: #aba9a7;


/*layout*/
@import "_adjust/fonts.scss";
@import "../bower/normalize.css/normalize.css";
@import "_adjust/adjustment.scss";
@import "_adjust/mixins.scss";
@import "sections/header.scss";
@import "sections/prices.scss";


///layout

.index-content{
  background: $grey url("../images/bg.jpg") center top no-repeat;
  background-size: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
}

.content-block{
  @extend %clearfix;
  background: #fff;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.content-block__left{
  display: block;
  width: 50%;
  float: left;
  padding-right: 20px;
  position: relative;

  &:after{
    display: block;
    content: "";
    width: 8px;
    height: 278px;
    background: url("../images/decor/line.png") center center no-repeat;
    position: absolute;
    left: 100%;
    top: 36px;
  }
}

.content-block__right{
  display: block;
  width: 50%;
  float: right;
  padding-left: 90px;
}



.logo{
  margin: 0 auto 18px;
  width: 368px;
}


///advantages

.advantages__list{
  font-size: 0;
  margin-bottom: 65px;

    > *{
      font-size: 16px;
    }
  }

.advantages__item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 33.3%;
  padding: 0 15px;
}

.advantages__title{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 58px;

  &:after{
    @include rhombus(20px);
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -10px;
  }
}

.advantages__text{
  text-align: center;

  p{
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
  }
}


///content elements

.content-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}

.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  width: 140px;
  padding: 12px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s;

  &:hover{
    background-color: $brown;
  }
}

///news

.news__list{
  margin-bottom: 30px;
}

.news__item{
  margin-bottom: 24px;
}

.news__text{
  margin-bottom: 4px;
}

.news__date{
  text-transform: lowercase;
}

///gallery

.gallery__image{
  text-align: center;
  margin-bottom: 45px;
}

.gallery__pic{
  width: 285px;
}

.gallery__btn-prev{
  float: left;
}

.gallery__btn-next{
  float: right;
}

///contacts

.contacts__btn-way{
  margin-right: 20px;
}


.contacts__text, .contacts__open, .appointment__text{
  margin-bottom: 26px;
}

.news__text, .contacts__text, .contacts__open, .appointment__text, .footer-contacts{

  p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
  }
}

///appointment

.appointment__input-list{
  margin-right: -17px;
}

.appointment__form input[type="text"]{
  text-transform: uppercase;
  border: 2px solid #000;
  width: 140px;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  margin-right: 17px;
  outline: none;

  &:active, &:focus{
    border: 2px solid $brown;
  }

  &::-webkit-input-placeholder{
    color: #000;
    opacity: 1;
  }

  &::-moz-placeholder{
    color: #000;
    opacity: 1;
  }
}

.btn-submit{
  width: 100%;
}


//////footer

.footer{
  background: $footer-bg;
  color: #fff;
  padding-top: 60px;

  .container{
    font-size: 0;

      > *{
        font-size: 14px;
      }
  }
}

///contacts

.footer-contacts{
  display: block;
  float: left;
  width: 40%;
}

.address__link{
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 4px;
}

///socials

.socials{
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;

  &:last-child{
    margin-right: 0;
  }
}

.socials__link{
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover{
    background-color: #fff;
  }
}

.socials__text, .copyright__text{
  margin-bottom: 18px;
}

.socials__link_vk{
  background-image: url("../images/icons/vk.png");

  &:hover{
    background-image: url("../images/icons/vk_a.png");
  }
}

.socials__link_fb{
  background-image: url("../images/icons/fb.png");

  &:hover{
    background-image: url("../images/icons/fb_a.png");
  }
}

.socials__link_ig{
  background-image: url("../images/icons/ig.png");

  &:hover{
    background-image: url("../images/icons/ig_a.png");
  }
}

///copyright

.copyright{
  display: block;
  float: right;
  width: 15%;
  text-align: center;
}

.copyright__btn{

  &:hover{
    background-color: #fff;
    color: #000;
  }
}