/*vars*/
$container-width: 940px;
$footer-height: 194px;

/*colors*/
$grey: #242424;
$footer-bg: #222222;
$brown: #663d15;
$light-grey: #aba9a7;
$light-grey1: #e5e5e5;


/*layout*/
@import "_adjust/fonts.scss";
@import "../bower/normalize.css/normalize.css";
@import "_adjust/adjustment.scss";
@import "_adjust/mixins.scss";
@import "sections/layout.scss";
@import "sections/index.scss";
@import "sections/header.scss";
@import "sections/prices.scss";
@import "sections/shop.scss";
@import "sections/footer.scss";








