.header{

  background: #000;

  .container{
    font-size: 0;

    > *{
      font-size: 14px;
    }
  }
}

.nav{
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.nav__list{
  display: inline-block;
  vertical-align: middle;
}

.nav__item{
  display: inline-block;
  vertical-align: middle;

  &.active{
    padding: 0 18px;
  }

  &.active .nav__link-text{
    border-bottom: 4px solid #fff;
  }
}

.nav__link{
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px;
  transition: background-color .3s;

  &:hover{
    background-color: $grey;
  }
}

.nav__link-text{
  font-size: 16px;
  color: #fff;
  padding: 26px 0 22px;
  border-bottom: 4px solid transparent;
}

.auth{
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: right;

  .nav__link:hover{
    .auth__link-text:before{
      background: url("../images/icons/enter_a.png") center center no-repeat;
    }
  }
}

.auth__link-item{
  display: inline-block;
  vertical-align: middle;

  &:before{
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 16px;
    margin-right: 10px;
    background: url("../images/icons/enter.png") center center no-repeat;
  }
}

.auth__link-text{
  display: inline-block;
  vertical-align: middle;
}

.nav__logo{
  display: inline-block;
  vertical-align: middle;
}

.nav__logo-link{
  display: block;
  padding: 0 16px;
}

.nav__logo-pic{
  display: block;
}