.header{

  background: #000;

  .container{
    @extend %clearfix;
  }
}


///logo

.header__logo{
  display: block;
  float: left;
  width: 15%;
}

.header__logo-link{
  display: block;
  padding: 26px 20px;
}

.header__logo-pic{
  display: block;
}

///navigation

.nav{
  display: block;
  float: left;
  width: 65%;
}

.nav__list{
  display: inline-block;
  vertical-align: middle;
}

.nav__item{
  display: inline-block;
  vertical-align: middle;

  &.active{
    padding: 0 18px;
  }

  &.active .nav__link-text{
    border-bottom: 4px solid #fff;
  }
}

.nav__link{
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px;
  transition: background-color .3s;

  &:hover{
    background-color: $grey;
  }
}

.nav__link-text{
  font-size: 16px;
  color: #fff;
  padding: 25px 0;
  border-bottom: 4px solid transparent;
}


///auth

.auth{
  display: block;
  float: right;
  width: 20%;
  text-align: right;

  .nav__link-text{
    padding: 23px 0 27px;
  }

  .nav__link:hover{
    .auth__link-item:before{
      opacity: 1;
    }
  }
}

.auth__link-item{
  display: inline-block;
  vertical-align: middle;

  &:before{
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 16px;
    margin-right: 10px;
    background: url("../images/icons/enter_a.png") center center no-repeat;
    opacity: 0.3;
    transition: opacity .3s;
  }
}

.auth__link-text{
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}

