///layout

.index-content{
  background: $grey url("../images/bg.jpg") center top no-repeat;
  background-size: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
}

.content-block{
  @extend %clearfix;
  background: #fff;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.content-block__left{
  display: block;
  width: 50%;
  float: left;
  padding-right: 20px;
  position: relative;

  &:after{
    display: block;
    content: "";
    width: 8px;
    height: 278px;
    background: url("../images/decor/line.png") center center no-repeat;
    position: absolute;
    left: 100%;
    top: 36px;
  }
}

.content-block__right{
  display: block;
  width: 50%;
  float: right;
  padding-left: 90px;
}

///


.logo{
  margin: 0 auto 18px;
  width: 368px;
}


///advantages

.advantages__list{
  font-size: 0;
  margin-bottom: 65px;

    > *{
      font-size: 16px;
    }
  }

.advantages__item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 33.3%;
  padding: 0 15px;
}

.advantages__title{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 58px;

  &:after{
    @include rhombus(20px);
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -10px;
  }
}

.advantages__text{
  text-align: center;

  p{
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
  }
}

///news

.news__list{
  margin-bottom: 30px;
}

.news__item{
  margin-bottom: 24px;
}

.news__date{
  text-transform: lowercase;
}

///gallery

.gallery{
  @extend %clearfix;
}

.gallery__image{
  text-align: center;
  margin-bottom: 45px;
}

.gallery__pic{
  width: 285px;
}

.gallery__btn-prev{
  float: left;
}

.gallery__btn-next{
  float: right;
}

///contacts

.contacts__btn-way{
  margin-right: 20px;
}

///appointment

.appointment__input-list{
  margin-right: -17px;
}

.main-form input[type="text"],.main-form input[type="password"]{
  text-transform: uppercase;
  border: 2px solid #000;
  width: 140px;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  margin-right: 17px;
  outline: none;

  &:active, &:focus{
    border: 2px solid $brown;
  }

  &::-webkit-input-placeholder{
    color: #000;
    opacity: 1;
  }

  &::-moz-placeholder{
    color: #000;
    opacity: 1;
  }
}

.btn-submit{
  width: 100%;
}

//////modal window login

#modal-login {
  width: 500px;
  height: 400px;
  background: transparent;
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -250px;
  display: none;
  z-index: 5;

  .modal-login__form-wrapper {
    width: 90%;
    background: #fff;
    padding: 55px 75px;
  }

  input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  .login-label{
    display: block;
    position: relative;

    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 10px;
      width: 15px;
      height: 15px;
      background: url("../images/icons/user.png") center center no-repeat;
      z-index: 10;
    }
  }

  .password-label{
    display: block;
    position: relative;

    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -9px;
      right: 10px;
      width: 15px;
      height: 17px;
      background: url("../images/icons/password.png") center center no-repeat;
      z-index: 10;
    }
  }

  .password-params{
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .products-filter__item{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }

  .products-filter__item-name{
    padding-left: 10px;
    padding-right: 74px;
    width: auto;
  }

  .login-text{
    margin-bottom: 15px;
  }

  a{
    display: inline-block;
    vertical-align: middle;
    color: #000;
    text-decoration: underline;
    margin-bottom: 0;
  }

  .btn {
    width: 100%;
  }
}

//анимация при ошибке - не заполнены поля формы
@keyframes shake{
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}

#modal-login.error{
  display: block;
  animation: shake .6s;
}

//modal window active

//анимация при появлении окна
@keyframes bounce{
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

#modal-login.active{
  display: block;
  animation: bounce .6s;
}

///modal window close

.modal-close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  &:before{
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #d0d0d0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    transform: rotate(-45deg);
  }

    &:after{
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #d0d0d0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    transform: rotate(45deg);
  }
}

///overlay

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#overlay.active{
  display: block;
}

///modal window map
.modal-map{
  width: 860px;
  height: 620px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -310px;
  margin-left: -430px;
  z-index: 5;
  display: none;

  &.active{
    display: block;
    animation: open-map .5s;
  }
}

@keyframes open-map{
  0% {transform: translateX(-2000px);}
  70% {transform: translateX(30px);}
  90% {transform: translateX(-10px);}
  100% {transform: translateX(0px);}
}


.map-content{
  width: 780px;
  height: 574px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
  background: #fff;
}

.map{
  height: 554px;
}

