.page-content{
  @extend %clearfix;
}

///sidebar

.sidebar{
  float: left;
  width: 25%;
  padding-right: 40px;
}

.products-filter__group{
  border: none;
  padding: 0;
  margin: 0 0 30px;
}

.products-filter__item{
  display: block;
  margin-bottom: 17px;
  position: relative;

  font-size: 0;

  >* {
    font-size: 14px;
  }
}

.products-filter__item{
  &:hover{
    cursor: pointer;

    & .products-filter__item-name{
      color: $brown;
    }
  }
}

.products-filter__input{
  display: inline-block;
  position: absolute;
  top: 0;
  left: -9999px;
}

.products-filter__input-visible{
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid $light-black;
  position: relative;
}

.products-filter__input-visible_checkbox{

  &:before{
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:after{
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.products-filter__input-visible_radio{
  border-radius: 50%;

  &:after{
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.products-filter__item-name{
  display: inline-block;
  vertical-align: top;
  width: 170px;
  padding-left: 22px;
  transition: color .3s;
}


.products-filter__input:checked + .products-filter__input-visible_checkbox{
  &:before, &:after{
    background-color: $light-black;
  }
}

.products-filter__input:checked + .products-filter__input-visible_radio{
  &:after{
    background-color: $light-black;
  }
}

.btn_show{
  width: 110px;
}


///products

.products{
  float: left;
  width: 75%;
}

.products__list{
  font-size: 0;
  margin-right: -20px;
  margin-bottom: 25px;
  >* {
    font-size: 14px;
  }
}

.products__item{
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding-right: 20px;
  margin-bottom: 20px;


}

.products__wrapper{
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.products__link{
  display: block;
}

.products__image{
  text-align: center;
  margin-bottom: 15px;
}

.products__pic{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.products__name{
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 0 17px;
}

.products__producer{
  color: #000;
  padding: 0 17px;
}

.products__order{
  padding: 10px 17px 17px;
  font-size: 0;

  >* {
    font-size: 14px;
  }
}

.products__price{
  display: inline-block;
  width: 58%;
  background: $light-grey1;
  text-align: center;
  padding: 12px 0;
}

.btn_buy{
  display: inline-block;
  width: 42%;
}


///pagination

.pagination__item{
  display: inline-block;
  margin-right: 5px;

  &.active .pagination__link{
    background-color: #fff;
    color: #000;
  }
}

.pagination__link{
  display: block;
  width: 43px;
  height: 43px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 43px;
  transition: background-color .3s;

  &:hover{
    background-color: $brown;
  }
}